:root{
    --sans:'Open Sans', sans-serif;
    --roboto:'Roboto', sans-serif;
    --bebas:'Bebas Neue', cursive;
    --realblack:#202020;
    --realgreen:#25a18e;
    --greenlight:#7ae582;
    --realwhite:#f7fff7;
    --realgray:#333533;
    --graylight:#d6d6d6;
}

/*Aquí comienza el contenido*/

.main__login{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__form--container{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #3335337d;
    border-radius: 15px;
    transition: 0.7s;
    box-shadow:var(--realgray) 0px 2px 10px 4px;
}
.login__form--container:hover{
    margin-bottom: 7px;
}
.form__form--login{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.form__name--container, .form__password--container{
    margin: 4px;
    height: auto;
    width: auto;
}
.name__name--form, .password__password--form{
    height: 40px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.918);
}
.button__button--form{
    height: 40px;
    width: 300px;
    margin: 10px;
    background-color: rgb(71, 176, 0);
    border: none;
    border-radius: 5px;
    color: var(--realwhite);
    transition: 0.3s;
    cursor: pointer;
}
.button__button--form:hover{
    background-color: rgb(66, 163, 2);
}
.form__links--container{
    margin: 10px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}
.links__register--container, .links__recovery--container{
    text-align: center;
}
.register__link, .recovery__link{
    font-size: 1.5rem;
    color: var(--realwhite);
    text-decoration: none;
    transition: 0.5s;
}
.register__link:hover, .recovery__link:hover{
    color: var(--graylight);
    text-decoration:underline;
}